html {
  scroll-behavior: smooth;
}
body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #7e838b;
	font-size: 16px;
	line-height: 1.45em;
}

p {
  margin-bottom: 25px;
  line-height: 1.95em;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  line-height: 1.2em;
  color: #3c424d;
  text-transform:capitalize;
}

h1, h2, h3, h4 {
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 2.827em;
  margin: 0 0 15px;
}

h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}
img {
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
}

a:focus {
  outline: none;
  color: inherit;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.row {
  padding-left: 7.875rem;
  padding-right: 7.875rem; }

.row .row {
  padding: 0; 
}
.clear
{
	clear:both;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 25px;
    font-size: 13px;
    border-radius: 4px;
    background: #fb5b21;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: 0.5;
    border-radius: 3px;
	outline:0px;
	border: 0;
}
.btn:hover
{
	background: #222222;
	color:#ffffff;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/*================================================
Header Area CSS
=================================================*/
.header-area
{
    background: #ffffff;
    z-index: 99;
    min-height: 70px;
    padding: 0;
} 

.navbar-area {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header_menu_wrapper 
{
	width:100%;
}
.navbar-area.is-sticky {
	background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0,0,0,0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px);
    z-index: 99;
}
.navbar-area.is-sticky .food-nav .navbar .navbar-nav .nav-item a {
    color: #222222;
}
.navbar-area.is-sticky .food-nav .navbar .navbar-nav .nav-item a:hover {
    color: #fb5b21;
}
.navbar-area.is-sticky .food-nav .navbar .navbar-nav .nav-item.active a {
    color: #fb5b21;
}
.header-area .navbar-brand .logodark
{
    display: none;
}
.header-area .is-sticky .navbar-brand .logolight
{
    display: none;
}
.header-area .is-sticky .navbar-brand .logodark
{
    display: block;
}
.navbar-brand>img {
    display: block;
    max-width: 220px;
}
.navbar-area.is-sticky .navbar-brand>img {
    max-width: 160px;
}
.food-nav .navbar-collapse.collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding-right:0px;
}
.navbar-area.navbar-style-two {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: auto;
  background-color: transparent;
}

.navbar-area.navbar-style-two .food-nav {
  background-color: transparent;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item a.active {
  color: #ffffff;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item:hover a, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item.active a {
  color: #ffffff;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #fb5b21;
}

.navbar-area.navbar-style-two .food-nav .navbar .others-option {
  padding-left: 0;
  margin-left: 24px;
}

.navbar-area.navbar-style-two .food-nav .navbar .others-option::before {
  display: none;
}

.navbar-area.navbar-style-two .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-area.navbar-style-two.is-sticky {
	opacity: 1;
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
		  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	background: #797979 !important;
	-webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
		  animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
}

.is-sticky .food-nav {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-area.navbar-style-two.is-sticky .food-nav .navbar .others-option .option-item .default-btn {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #797979;
}

.navbar-area.navbar-style-two.is-sticky .food-nav .navbar .others-option .option-item .default-btn:hover {
  background-color: #fb5b21;
  color: #ffffff;
  border-color: #fb5b21;
}

.navbar-area.navbar-style-three {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: auto;
  background-color: transparent;
}

.navbar-area.navbar-style-three .food-nav {
  background-color: transparent;
}

.navbar-area.navbar-style-three .food-nav .navbar .others-option {
  padding-left: 0;
  margin-left: 24px;
}

.navbar-area.navbar-style-three .food-nav .navbar .others-option:before {
  display: none;
}

.navbar-area.navbar-style-three .food-nav .navbar .others-option .option-item .default-btn {
  background-color: #ac0001;
  border-color: #ac0001;
  color: #ffffff;
  border-radius: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.navbar-area.navbar-style-three .food-nav .navbar .others-option .option-item .default-btn:hover {
  color: #ffffff;
  border-color: #fb5b21;
  background-color: #fb5b21;
}

.navbar-area.navbar-style-three .container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}
html body .dropdown-menu>li>a:focus, html body .dropdown-menu>li>a:hover {
    background-color: transparent;
}
.navbar-area.navbar-style-three.is-sticky {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff !important;
  -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
          animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
}


/* mobile Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
  z-index: 9;
}

.sidenav a {
	padding: 10px 0;
    text-decoration: none;
    color: #797979;
    transition: 0.3s;
	text-transform: capitalize;
}
.sidenav a:hover {
  color: #fb5b21;
}

.sidenav .closebtn {
	position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    margin-left: 0;
}
.menu_open
{
	color: #fb5b21;
	font-size: 24px;
	cursor: pointer;
	margin-right: 20px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_open:hover
{
	color: #222222;
}
#mySidenav .mobile_menu_li
{
	position:relative;
}
#mySidenavg .mobile_menu_li .head
{
    position: absolute;
    right: 10px;
    top: 15px;
}
   
#mySidenav .panel.mobile_menu_li {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
	padding: 15px 0;
}
#mySidenav h3
{
	margin: 0;
	padding: 0 0 15px;
	font-size: 20px;
	color: #333;
	border-bottom: 1px solid #eee;
}
#mySidenav .mobile_menu_li ul li a
{
	padding: 5px 15px;
    font-size: 13px;
    display: inline-block;
}
#mySidenav .mobile_menu_li ul
{
	 padding: 20px 0px 0px;
}
#mySidenav ul li .head .collapsed .plus {
    display: block;
	font-size: 20px;
}
#mySidenav ul li .head .minus {
	font-size: 20px;
}
#mySidenav ul li .head .plus {
    display: none;
}
#mySidenav ul li .head .collapsed .minus {
    display: none;
}
#mySidenav .mobile_menu_li .head {
    position: absolute;
    right: 10px;
    top: 15px;
}
#mySidenav .menu_slid_bg {
    background: #ffffff;
    max-width: 250px;
    position: relative;
    height: 100%;
    padding: 50px 15px;
}
#mySidenav ul {
    list-style: none;
    padding: 0px;
    margin: 0;
	max-height: 500px;
    overflow: auto;
}


/* mobile Menu */
.food-responsive-nav {
  display: none;
}
.food-nav {
	background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}
.food-nav .navbar {
	padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    min-height: 0;
	border:0px;
}

.food-nav .navbar .navbar-brand {
	font-size: inherit;
	line-height: 1;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.food-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.food-nav .navbar .navbar-nav {
  margin-left: auto;
}

.food-nav .navbar .navbar-nav .nav-item {
  position: relative;
}

.food-nav .navbar .navbar-nav .nav-item a {
	color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
    text-transform: capitalize;
}

.food-nav .navbar .navbar-nav .nav-item a i {
	font-size: 18px;
    position: relative;
    display: inline-block;
    margin-left: 3px;
}

.food-nav .navbar .navbar-nav .nav-item a:hover, .food-nav .navbar .navbar-nav .nav-item a:focus, .food-nav .navbar .navbar-nav .nav-item a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.food-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.food-nav .navbar .navbar-nav .nav-item:hover a, .food-nav .navbar .navbar-nav .nav-item.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	position: absolute;
	border: none;
	top: 40px;
	left: 0;
	width: 220px;
	z-index: 99;
	display: block;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	margin: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
	padding: 13px 20px 11px;
	margin: 0;
	position: relative;
	display: block;
	color: #797979;
	border-bottom: 1px dashed #e5e5e5;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
	margin: 0;
	position: absolute;
	top: 50%;
	font-size: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
	color: #fb5b21;
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	left: -220px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
	color: #797979;
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}
.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -220px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #fb5b21;
}

.food-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.food-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.others-option {
	position: relative;
	margin-left: 18px;
	padding-left: 18px;
}

.others-option:before {
	content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 1.5px;
    height: 22px;
    background-color: #cccccc;
}

.others-option .option-item {
	display: inline-block;
	margin-left: 20px;
	position: relative;
	z-index: 3;
}

.others-option .option-item:first-child {
	margin-left: 0;
}

.others-option .option-item .search-btn-box {
	position: relative;
	top: 2px;
}

.others-option .option-item .search-btn-box .search-btn {
	font-size: 25px;
	cursor: pointer;
	color: #797979;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.others-option .option-item .search-btn-box .search-btn:hover {
	color: #fb5b21;
}

.others-option .option-item .cart-btn {
	font-size: 25px;
	position: relative;
	line-height: 1;
}

.others-option .option-item .cart-btn a {
	display: inline-block;
	position: relative;
	color: #797979;
}

.others-option .option-item .cart-btn a span {
	position: absolute;
    right: -7px;
    top: -7px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #fb5b21;
    font-size: 10px;
    font-weight: 600;
}

.others-option .option-item .cart-btn a:hover {
	color: #fb5b21;
}

.others-option .option-item .default-btn {
	border-color: #797979;
	background-color: #797979;
	color: #ffffff;
}

.others-option .option-item .default-btn:hover {
	background-color: #fb5b21;
	color: #ffffff;
	border-color: #fb5b21;
}

.others-option .social-links li
{
	display:inline-block;
	margin-right:15px;
}
.others-option .social-links li:last-child
{
	margin-right:0;
}
.others-option .social-links li a
{
    color: #000000;
}
.others-option .social-links li a:hover
{
    color:#fb5b21;
}
@media only screen and (max-width: 991px) {
.food-responsive-nav {
    display: block;
}
.food-responsive-nav .food-responsive-menu {
    position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.food-responsive-nav .food-responsive-menu.mean-container .mean-nav {
    margin-top: 60px;
}
.food-responsive-nav .food-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
}
.food-responsive-nav .food-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #fb5b21;
}
.food-responsive-nav .food-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 341px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item {
    overflow: hidden;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .container {
    padding-left: 0;
    padding-right: 0;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row {
    display: block;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col:last-child {
    margin-bottom: 15px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item a {
    width: 100%;
    float: unset;
    display: block;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title {
    color: #797979;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13.5px;
    font-weight: 600;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:before {
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #fb5b21;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:first-child {
    margin-top: 5px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu a {
    border-bottom: none !important;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .mean-expand {
    display: none !important;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu {
    width: auto;
    overflow: hidden;
    display: block !important;
    padding-left: 15px;
    padding-right: 15px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
    border: none;
    margin-top: 15px;
    color: #666666;
    padding: 0;
    font-weight: 400;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a:hover, .food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a.active {
    color: #fb5b21;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category {
    position: absolute;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    font-size: 15px;
    font-weight: 600;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .link-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}
  .food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:not(:first-child) {
    margin-top: 15px;
  }
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover .category {
    bottom: 10px;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides {
    margin-top: 0;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.food-responsive-nav .food-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides .brand-item a {
    display: block !important;
    padding: 20px !important;
    width: auto !important;
}
.food-responsive-nav .food-responsive-menu.mean-container .others-option {
    display: none !important;
}
.food-responsive-nav .mean-container a.meanmenu-reveal {
    color: #797979;
}
.food-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #797979;
}
.food-responsive-nav .logo {
	position: relative;
	width: 30%;
	z-index: 1;
	float: left;
}
.food-responsive-nav .logo a {
    display: inline-block;
}
.food-nav {
    display: none;
}
.navbar-area {
    padding-top: 18px;
    padding-bottom: 18px;
}
.navbar-area.navbar-style-two .food-responsive-nav .mean-container a.meanmenu-reveal {
    color: #ffffff;
}
.navbar-area.navbar-style-two .food-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #ffffff;
}
.food-responsive-nav .others-option {
    margin-left: 0;
    padding-left: 0;
    width: 50%;
    float: right;
	text-align: right;
}
.food-responsive-nav .others-option:before {
    left: auto;
    right: 0;
}
}

/* silder */
section
{
	padding:75px 0px;
}
.bg_images
{
	background-image: url(../image/bg-section.jpg);
}

#silder 
{
	position:relative;
}
html body .owl-wrapper-outer {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 4px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
	
}
.silder_wrapper .owl-pagination {
    top: -40px;
}
.silder_wrapper .owl-controls .owl-page {
    border: 1.5px solid #ffffff;
}
.silder_wrapper .owl-controls .owl-page span {
    background: #ffffff;
    box-shadow: inset 0 0 3px rgba(255,255,255,0.3);
   border-color:#ffffff;
}
html body .owl-carousel .owl-buttons .owl-prev, html body .owl-carousel .owl-buttons .owl-next {
    background: #fb5b21;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
	opacity:0;
}
html body .owl-carousel:hover .owl-buttons .owl-prev, html body .owl-carousel:hover .owl-buttons .owl-next {
	opacity:1;
}

html body .owl-carousel .owl-buttons .owl-prev:hover, html body .owl-carousel .owl-buttons .owl-next:hover {
    background: #222222;
	
}
html body .owl-carousel .owl-buttons div i {
    font-size: 18px;
    color: #ffffff;
}
html body .owl-pagination {
    text-align: center;
    position: relative;
}
.owl-controls .owl-page {
    border: 1.5px solid #ffffff;
	padding: 2px;
	padding: 3px;
    border-radius: 100%;
}
html body .owl-controls .owl-page span {
    display: block;
    width: 11px;
    height: 11px;
    background: #ffffff;
    border-radius: 100%;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
   border-color:#ffffff;
}
html body .owl-controls .owl-page.active span {
    background: #fb5b21;
	border-color:#fb5b21;
}
html body .owl-controls .owl-page.active
{
	border-color:#fb5b21;
}
html body .owl-carousel {
    margin: 0;
	background: transparent;
}

#about.about_section .row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#about.about_section h2, .about_section h3
{
    margin-bottom: 15px;
}
#about.about_section h2 span
{
    color: #fb5b21;
}
#about.about_section p, #about.about_section li
{
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}
#about.about_section .about_text .btn
{
    margin-top: 5px;
}
#about.about_section img
{
    border-radius: 5px;
    width: 100%;
}

/* heading */

.heading_wrapper 
{
	text-align:center;
}
.heading_wrapper h2
{
    margin-bottom: 20px;
}
.heading_wrapper h2 span
{
    color: #fb5b21;
}
.heading_wrapper
 {
    max-width: 800px;
    margin: auto;
}
.heading_wrapper p
{
    line-height: 26px;
    margin-bottom: 30px;
}
/* heading  end */

/* why choose us */

#why_choose.why_choose
{
    background: #f5f5f5;
}
#why_choose.why_choose .why_choose_sign_box 
{
	background: #ffffff;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 30px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

#why_choose.why_choose .why_choose_sign_box  h4 {
    font-size: 18px;
    margin: 15px 0;
}
#why_choose.why_choose .why_choose_sign_box  p {
    text-transform: capitalize;
    font-size: 14px;
}

#why_choose.why_choose .why_choose_sign_box span.cont_number
{
    font-size: 30px;
    font-weight: 700;
    color: #222222;
}

/* testimonial section */
#testimonials.testimonial_section
{
	background: #f5f8ff;
    background-image: url(../image/testimonial/testimonail-bg.jpg);
    background-size: cover;
	position: relative;
}
#testimonials.testimonial_section:before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
#testimonials.testimonial_section .testimonial_inner_matter
{
    padding: 20px;
    background: transparent;
    text-align: center;
    box-shadow: none;
}
#testimonials.testimonial_section h2
{
    color: #ffffff;
}

#testimonials.testimonial_section .heading_wrapper p
{
    color: #ffffff;
}
#testimonials.testimonial_section .testimonial_inner_matter img {
    vertical-align: middle;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 100px;
    border: 1.5px dashed #fb5b21;
    padding: 3px;
}
#testimonials.testimonial_section .testimonial_inner_matter h6
{
    color: #ffffff;
    margin-top: 5px;
    font-size: 13px;
}
.testimonial_inner_matter p
{
	color:#ffffff;
}
#testimonials.testimonial_section .testimonial_inner_matter h5
{
    margin-top: 10px;
    font-size: 15px;
    color: #fb5b21;
}

/*  trainer section */
#trainer .our-chef-text
{
    padding: 15px 0;
}
#trainer .our-chef-text h4
{
    font-size: 14px;
    color: #fb5b21;
    margin: 0 0 10px 0;
	font-family: 'Poppins', sans-serif;
}
#trainer .our-chef_img img
{
    border-radius: 10px;
}


/**************************************************
	services end *****************************/
	
#services
{
    background-image: url(../image/icon/bg4.jpg);
	position: relative;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

#services:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	opacity: 0.8;
	background:#000;
}
#services .services_text .services_icon
{
    border: 1.5px solid #fb5b21;
    border-radius: 100%;
    max-width: 100px;
    margin: auto auto 15px;
    min-height: 100px;
    line-height: 100px;
	background: transparent;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#services .services_text:hover .services_icon
{
    border: 1.5px solid #fb5b21;
	background: #fb5b21;
}
#services .services_text .services_icon img
{
    max-width: 65px;
}
#services .services_text h3
 {
    color: #fb5b21;
}
#services .services_text p
{
    color: #ffffff;
}


/**************************************************
	services end *****************************/
		
/**************************************************
	classes *****************************/
	
#classes
{
    background: #ffffff;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

	
/**************************************************
	classes end *****************************/


/**************************************************
	contact page *****************************/

.contact .form-control {
    color: #999;
    background: #ffffff;
    border: 1px solid #ffffff;
}
.contact .form-control:focus {
	border: 1px solid #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.contact .info-box {
    color: #313030;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px;
	background:#ffffff;
	border-radius:3px;
	margin-bottom: 15px;
}

.contact .info-box i {
	position: absolute;
    font-size: 24px;
    color: #fb5b21;
    border-radius: 3px;
    border: 2px dotted #fb5b21;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    top: 34px;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #222222;
    font-weight: 700;
    margin: 10px 0 10px 68px;
}
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}
.php-email-form
{
    margin-top: 30px;
}

.contact .php-email-form button {
    margin-top: 15px;
}

.php-email-form .form-control
{
	height:50px;
}
.php-email-form textarea.form-control
{
	height:125px;
}
/**************************************************
	contact end *****************************/
	
	
/**************************************************
	footer *****************************/
#footer {
	padding: 50px 0;
	background: #181818;
	color:#797979;
	font-size: 14px;
	text-align: center;
}
#footer img
{
	max-width: 250px;
    margin: auto;
    display: inline-block;
    width: 100%;
	margin-bottom: 15px;
}
#footer p {
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
  width: 100%;
}

#footer .social-links {
	margin: 0 0 40px 0;
    width: 100%;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222222;
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  line-height:40px;
}

#footer .social-links a:hover {
  background: #222222;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .footer_copyright 
{
    width: 100%;
}
#footer .footer_copyright p
{
	margin:0px;
    font-style: normal;
}
#footer .footer_copyright a
{
	color:#fb5b21;
}
#footer .footer_copyright a:hover
{
	color:#222222;
}

/* ******************************back-to-top scrtion *******************************************/
.back-to-top 
{
  cursor: pointer;
  z-index: 1000;
  background-color: #777;
  width: 43px;
  bottom: 35px;
  right: 10px;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
  position: fixed;
  display: block;
  text-align: center;
  border-radius: 3px;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); 
}
.back-to-top.hidden-top 
{
    bottom: -100px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.back-to-top:hover {
    background-color: #666;
}
.back-to-top i
{
   font-size: 30px;
    margin: 0;
    color: #fff;
    display: block;
    height: 43px;
    line-height: 40px;
    background: #fb5b21; 
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.back-to-top i:hover
{
    background: #222222; 
}
.back-to-top i:before 
{
    content: '\f102'; 
}
/* ****************************** back-to-top scrtion end*******************************************/
